

.info-container {
  display: flex;
  justify-content: space-around;
  .info-card {
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #c4cbce;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border: solid 1px #6f7477;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
       box-shadow: 10px 10px 8px 10px #888888;
  }
  p{
    margin-top: 8px;
    margin-left: 8px;
    padding: 5px;
  }
}

.status-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  .status-card{
    .status-card-container {

      display: flex;
      .card-photo{
        position: relative;
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px;
        padding: 20px;
      }
      .card-content{
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        background-color: white;
      }
    }
     p{
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       max-width: 300px;
       margin: auto;
       text-align: center;
       font-family: arial;
       padding: 4px;
       transition: 1s;
         box-shadow: 10px 10px 8px 10px #888888;
      }
      p:hover{
        background-color: rgb(209, 220, 223);

      }
  }
}

.pending-offer-container {
  margin: 0 auto;
  width: 600px;
  .pending-card-container {
    display: inline-block;
    width: 100%;
    .pending-offer-card {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px;
      .posted-item-card{
        display: flex;
        width: 50%;
        .card-content{
          align-self: center;
          margin-left: 10px;
        }

      }
      .offered-item-card{
        display: flex;
        flex-grow: 1;
        text-align: center;
        .card-content{
          align-self: center;
          margin-left: 10px;
        }
      }
    }
  }
}

.user-items-card-container{
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
  .item-card{
    height: 300px;
    .item-content{
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      background-color: white;
    }
  }
}

.nav-item{
  border-radius: 4px;
}
.nav-item:hover{
  background-color: rgb(115, 120, 121);
  border-radius: 4px;
}
