.info-container {
  display: flex;
  justify-content: space-around;
  .info-card {

  }
}

.status-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  .status-card{
    .status-card-container {
      display: flex;
      .card-photo{

      }
      .card-content{

      }
    }
  }
}

.pending-offer-container {
  margin: 0 auto;
  width: 600px;
  .pending-card-container {
    display: inline-block;
    width: 100%;
    .pending-offer-card {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px;
      .posted-item-card{
        display: flex;
        width: 50%;
        .card-content{
          align-self: center;
          margin-left: 10px;
        }

      }
      .offered-item-card{
        display: flex;
        flex-grow: 1;
        text-align: center;
        .card-content{
          align-self: center;
          margin-left: 10px;
        }
      }
    }
  }
}

.user-items-card-container{
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
  .item-card{
    height: 300px;
    .item-content{
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      background-color: white;
    }
  }
}

.nav-item{
  border-radius: 4px;
}
.nav-item:hover{
  background-color: rgb(115, 120, 121);
  border-radius: 4px;
}
