.home-banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-banner-container {
  width: 50%;
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}

.home-banner h2 {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}

.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: 0.3s ease;

  :hover {
    background: #1BCB7F;
    color: white;
  }
}

.btn-yellow {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFB934;
  transition: 0.3s ease;

  :hover {
    background: #1BCB7F;
    color: white;
  }
}

.home-banner-button-div {
  margin: 0 10px;
  width: 100px;
}

// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 100px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.content-container {
  width: 80vw;
  margin: 0 auto;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container {
    width: 700px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container {
    width: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 300px;
  }
}
