<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/caiosantosss/BARTER" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/barter_japan/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Barter-103705932143955" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/JapanBarter" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/barter-japan-846194226/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <em>This app is made by Ryota, Vivian, Caio and Karen with <i class="fas fa-heart"></i> at Le Wagon</em>
  </div>
</div>
