<div class="mask d-flex align-items-center h-100">
  <div class="container">
    <div class="card mask-custom p-2 mt-5">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-3 mb-md-0">
            <div id="basic" class="form-outline form-white">
              <%= form_tag items_path, class: "d-flex", method: :get do %>
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find an item"
                  %>
                <%= submit_tag "Search", class: "btn btn-info ml-1" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
