<section class= "testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile">
          <%= image_tag "gal.jpeg", class: "user" %>
          <blockquote>I just wanted to share a quick note and let you know that this app do a really good job.</blockquote>
          <h3>Galym Parpiyev <span> Co-exchanger at le wagon </span> </h3>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <%= image_tag "jos.jpeg", class: "user" %>
          <blockquote>This app is really amazing!!! I got a chess board good as new exchanged with my macbook pro!!!</blockquote>
          <h3>Joss Dixon <span> Co-chesser at le wagon </span> </h3>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <%= image_tag "ren.png", class: "user" %>
          <blockquote>Indeed!!! I exchanged my car with a soccer ball from Neymar... Such a win!!!</blockquote>
          <h3>Renato Junior <span> Co-soccerer at le wagon </span> </h3>
        </div>
      </div>
    </div>
  </div>
</section>
