<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1624564890916-2669288b9f16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <div class="home-banner-container">
    <h1>Barter</h1>
    <h2>Enjoy exchanging items with people!</h2>
    <div class="home-banner-buttons d-flex justify-content-center align-items-center">
      <div class="home-banner-button-div"><a class="btn btn-green mt-5 p-2" href="#">Login</a></div>
      <div class="home-banner-button-div"><a class="btn btn-yellow mt-5 p-2" href="#">Sign-up</a></div>
    </div>
  </div>
</div>
<div>
  <h3>Hello</h3>
</div>
