<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1624564890916-2669288b9f16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <h1>Welcome to Barter</h1>
  <h2>Just exchange it</h2>
  <%# Search bar %>
  <%= render 'shared/search_bar' %>
</div>
<%# item_card %>
<%= render 'item_card' %>
