
.offerings{
  // border: 1px solid gray;
  margin: 10px 100px;
  padding: 4px;
  display: flex;
  .offering-content {
    flex-grow: 1;
    padding-left: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h4 {
      margin: 10px 0px;
      font-weight: 500;
      font-size: 22px;
    }
  }
}
.offered-header{
  width: 85%;
  margin-left: 100px;
  margin-top: 30px;
  border-bottom: 1px solid rgb(199, 197, 197);
  .h4 {
    font-style: bold;
    font-size: 23px;
  }
}
.form{
  margin-top: 10px;
}

.no-offer-message {
  margin: 10px 100px;
}
