.testimonials{
  margin: 50px auto;
}
.testimonials h1{
  text-align: center;
  font-weight: bold;
  color:#ff9800;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.testimonials h1::after{
  content: "";
  background: #ff9800;
  display: block;
  height: 3px;
  margin: 20px auto 5px;
}
.testimonials .row{
  margin-top: 30px;
}
.col-md-4{
  margin: 40px auto;
}
.profile{
  padding: 70px 10px 10px;
  background: #efefef;
}
.profile img{
  top: -60px;
  position: absolute;
  left: calc(50% -60px);
  border: 10px solid white;
}

.user{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile h3{
  font-size: 20px;
  margin-top: 15px;
  color: #ff9800;
}
span{
  font-size: 12px;
  color: #333;
}
blockquote{
  font-size: 16px;
  line-height: 30px;
}
blockquote::before{
  content: '\93';
  font-size: 50px;
  position: relative;
  color: #ff9800;
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

blockquote::after{
  content: '\94';
  font-size: 50px;
  position: relative;
  color: #ff9800;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}
.profile:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.5s;
}
